@media only screen and (min-width: 600px) and (max-width: 4096px) {
.desktop-only[data-v-a26741c2] {
    display: unset;
}
.phone-only[data-v-a26741c2] {
    display: none;
}
.tablet-only[data-v-a26741c2] {
    display: none;
}
}
@media only screen and (max-width: 420px) {
.desktop-only[data-v-a26741c2] {
    display: none;
}
.phone-only[data-v-a26741c2] {
    display: unset;
}
.tablet-only[data-v-a26741c2] {
    display: unset;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.desktop-only[data-v-a26741c2] {
    display: none;
}
.phone-only[data-v-a26741c2] {
    display: unset;
}
.tablet-only[data-v-a26741c2] {
    display: unset;
}
}
.shifty[data-v-a26741c2] {
  display: inline-block;
}
.shifty span[data-v-a26741c2],
.shifty pre[data-v-a26741c2] {
  color: #822CCB;
  font-size: 50px;
  line-height: 50px;
  background-color: transparent !important;
  font-family: DOS, ZPIX, Monaco, Menlo, Consolas, "Courier New", monospace;
}
@media only screen and (max-width: 420px) {
.shifty[data-v-a26741c2] {
    display: block;
}
.shifty span[data-v-a26741c2],
  .shifty pre[data-v-a26741c2] {
    font-size: 40px;
    margin-top: 10px;
}
}
@media only screen and (min-width: 600px) and (max-width: 4096px) {
.desktop-only[data-v-9ff3fb16] {
    display: unset;
}
.phone-only[data-v-9ff3fb16] {
    display: none;
}
.tablet-only[data-v-9ff3fb16] {
    display: none;
}
}
@media only screen and (max-width: 420px) {
.desktop-only[data-v-9ff3fb16] {
    display: none;
}
.phone-only[data-v-9ff3fb16] {
    display: unset;
}
.tablet-only[data-v-9ff3fb16] {
    display: unset;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.desktop-only[data-v-9ff3fb16] {
    display: none;
}
.phone-only[data-v-9ff3fb16] {
    display: unset;
}
.tablet-only[data-v-9ff3fb16] {
    display: unset;
}
}
.intro[data-v-9ff3fb16] {
  margin: -20px auto !important;
  padding: 0px 10px;
  border-bottom: 2px solid #FFFFFF;
  min-width: 80%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro p[data-v-9ff3fb16] {
  margin-bottom: 0px !important;
}
.intro .large-text[data-v-9ff3fb16] {
  font-size: 70px;
  line-height: 70px;
}
.intro .mt-20[data-v-9ff3fb16] {
  margin-top: 20px !important;
}
.intro .fs-50[data-v-9ff3fb16] {
  font-size: 50px;
  line-height: 50px;
}
.intro .banner-wrapper[data-v-9ff3fb16] {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}
.intro .ascii-wrapper[data-v-9ff3fb16] {
  padding: 0px 0px;
  margin: 0px 0px;
}
.intro .ascii-wrapper p[data-v-9ff3fb16] {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.intro[data-v-9ff3fb16] {
    padding: 0px 0px;
}
.intro .ascii-wrapper p[data-v-9ff3fb16] {
    font-size: 16px;
}
}
@media only screen and (max-width: 420px) {
.intro[data-v-9ff3fb16] {
    padding: 0px 0px;
}
.intro .ascii-wrapper p[data-v-9ff3fb16] {
    font-size: 14px;
}
}
.wrapper[data-v-c9f884ac] {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  max-width: 80%;
  padding-bottom: 50px;
  border-bottom: 2px solid #FFFFFF;
}
.wrapper li[data-v-c9f884ac] {
  margin: 10px 0px;
}
.wrapper h1[data-v-c9f884ac] {
  font-size: 30px;
}
.wrapper em[data-v-c9f884ac] {
  color: #fefe54;
}
@media (max-width: 767px) {
.wrapper[data-v-c9f884ac] {
    max-width: unset;
}
}
@media only screen and (min-width: 600px) and (max-width: 4096px) {
.desktop-only[data-v-567e713e] {
    display: unset;
}
.phone-only[data-v-567e713e] {
    display: none;
}
.tablet-only[data-v-567e713e] {
    display: none;
}
}
@media only screen and (max-width: 420px) {
.desktop-only[data-v-567e713e] {
    display: none;
}
.phone-only[data-v-567e713e] {
    display: unset;
}
.tablet-only[data-v-567e713e] {
    display: unset;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.desktop-only[data-v-567e713e] {
    display: none;
}
.phone-only[data-v-567e713e] {
    display: unset;
}
.tablet-only[data-v-567e713e] {
    display: unset;
}
}
.wrapper[data-v-567e713e] {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #FFFFFF;
}
.wrapper .img[data-v-567e713e] {
  background-repeat: no-repeat;
  background-position: top;
}
.wrapper .name[data-v-567e713e] {
  font-size: 24px;
  font-weight: 600;
  color: #EB65F7;
}
.wrapper .detail[data-v-567e713e] {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}
.wrapper .detail .description[data-v-567e713e] {
  font-size: 20px;
  white-space: pre-line;
}
.wrapper .detail .mr-20[data-v-567e713e] {
  margin-right: 20px;
}
.wrapper .top-line[data-v-567e713e] {
  border-top: 2px dashed #FFFFFF;
  padding-top: 10px;
}
.wrapper .yellow[data-v-567e713e] {
  color: #FFFD72;
}
@media only screen and (min-width: 600px) and (max-width: 4096px) {
.img[data-v-567e713e] {
    width: 200px;
    min-height: 200px;
    background-size: contain;
}
}
@media only screen and (max-width: 420px) {
.wrapper[data-v-567e713e] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img[data-v-567e713e] {
    width: 300px;
    min-height: 300px;
    background-size: contain;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.wrapper[data-v-567e713e] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img[data-v-567e713e] {
    width: 300px;
    min-height: 300px;
    background-size: contain;
}
}
@media only screen and (min-width: 600px) and (max-width: 4096px) {
.desktop-only[data-v-71f8743c] {
    display: unset;
}
.phone-only[data-v-71f8743c] {
    display: none;
}
.tablet-only[data-v-71f8743c] {
    display: none;
}
}
@media only screen and (max-width: 420px) {
.desktop-only[data-v-71f8743c] {
    display: none;
}
.phone-only[data-v-71f8743c] {
    display: unset;
}
.tablet-only[data-v-71f8743c] {
    display: unset;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.desktop-only[data-v-71f8743c] {
    display: none;
}
.phone-only[data-v-71f8743c] {
    display: unset;
}
.tablet-only[data-v-71f8743c] {
    display: unset;
}
}
.content[data-v-71f8743c] {
  min-width: 80%;
  max-width: 80%;
  box-sizing: border-box;
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.content .large[data-v-71f8743c] {
  font-size: 28px;
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.content[data-v-71f8743c] {
    max-width: 100%;
    min-width: 100%;
}
.content h3[data-v-71f8743c] {
    text-align: center;
}
}
@media only screen and (max-width: 420px) {
.content[data-v-71f8743c] {
    max-width: 100%;
    min-width: 100%;
}
.content h3[data-v-71f8743c] {
    text-align: center;
}
.content .large[data-v-71f8743c] {
    font-size: 24px;
}
.content h3[data-v-71f8743c]:before {
    content: ">> ";
}
.content h3[data-v-71f8743c]:after {
    content: " <<";
}
}
@media only screen and (min-width: 600px) and (max-width: 4096px) {
.desktop-only[data-v-9c13dc56] {
    display: unset;
}
.phone-only[data-v-9c13dc56] {
    display: none;
}
.tablet-only[data-v-9c13dc56] {
    display: none;
}
}
@media only screen and (max-width: 420px) {
.desktop-only[data-v-9c13dc56] {
    display: none;
}
.phone-only[data-v-9c13dc56] {
    display: unset;
}
.tablet-only[data-v-9c13dc56] {
    display: unset;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.desktop-only[data-v-9c13dc56] {
    display: none;
}
.phone-only[data-v-9c13dc56] {
    display: unset;
}
.tablet-only[data-v-9c13dc56] {
    display: unset;
}
}
.wrapper[data-v-9c13dc56] {
  box-sizing: border-box;
  display: flex;
  min-width: 80%;
  max-width: 80%;
  flex-direction: column;
  margin-bottom: 50px;
}
.wrapper pre[data-v-9c13dc56] {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  border: unset !important;
  padding: 10px 10px;
}
@media only screen and (max-width: 420px) {
.wrapper[data-v-9c13dc56] {
    min-width: 100%;
}
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
.wrapper[data-v-9c13dc56] {
    min-width: 100%;
}
}
.root-content[data-v-5dffeb70] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
}
